.large-screen-layout {
  margin-inline: auto;
  padding: 7em 4em 5em;
  display: flex;
  gap: 2em;
  max-width: 85%;
  max-height: 60vh;
}

.large-screen-layout > * {
  flex: 1;
}

@media (min-width: 1000px) {
  .large-screen-layout {
    gap: 5em;
  }
}
