.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.large-image {
  border-radius: 12px;
  cursor: pointer;
}

.large-image ul {
  list-style: none;
}

.large-image li {
  width: 100%;
}

.large-image button {
  border-radius: 12px;
  transition: opacity 100ms ease-in-out;
  width: 100%;
}

.large-image button img {
  border-radius: 12px;
}

.large-image button img.visible {
  opacity: 1;
}

.large-image button img.hidden {
  opacity: 0;
}

.thumbnail-images {
  display: flex;
  gap: 1.5em;
}

.thumbnail-images button {
  border: none;
  outline: none;
  padding: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;

  cursor: pointer;
}

.thumbnail-images button:focus {
  outline: 3px solid var(--clr-primary-orange);
  border-radius: 12px;
}

.thumbnail-images img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.thumbnail-images div {
  display: inline-block;
  border-radius: 12px;

  position: relative;

  cursor: pointer;
}

.thumbnail-images div:not(.active):hover,
.thumbnail-images div:not(.active):focus {
  opacity: 0.7;
}

.thumbnail-images div.active {
  outline: 3px solid var(--clr-primary-orange);
}

.thumbnail-images div.active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
