@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* colors */
  --clr-primary-orange: hsl(26, 100%, 55%);
  --clr-primary-pale-orange: hsl(25, 100%, 94%);

  --clr-very-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(223, 64%, 98%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%); /* 75% opacity for lightbox background */

  /* typography */
  --font-size-paragraph: 1rem;
  --font-family: "Kumbh Sans", serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: var(--font-family);
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--font-family);
}

svg {
  width: 100%;
  height: auto;
}
